@using DependencyInjection.Web.Entities
@model IEnumerable<Character>
@{
    ViewData["Title"] = "Episode IV Characters";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
    <a asp-controller="Home" asp-action="Add">Add New Character</a>
</div>
<ul>
    @foreach (var character in @Model)
    {
        <li>@character.Name</li>
    }

</ul>